services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: dotnetHero
    ports:
      - "5432:5432"
    volumes:
      - D:/postgress:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d dotnetHero"]
      interval: 10s
      timeout: 5s
      retries: 5
